.loading--bouncing-dots {
  width: 100%;
  padding: 50px 0;

  &__content {
    display: block;
    margin: 0 auto;
    fill: color-mod(#4b5473 tint(3%) a(50%));
  }

  &__item {
    animation-name: upAndDown;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.05, 0.2, 0.35, 1);
    animation-iteration-count: infinite;

    &:nth-child(2) {
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
    }
  }
}

@keyframes upAndDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
