.issue {
  &__claim-nodes,
  &__vc {
    &__content {
      height: 300px;
      overflow: scroll;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  &__claim-nodes {
    &__title {
      justify-content: space-between;
    }
  }

  &__claim-node {
    &:not(:last-child) {
      border-bottom: 2px solid hsl(0, 0%, 96%);
      padding-bottom: 0.75rem;
      margin-bottom: 0.75rem;
    }

    &__title {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 22.1833px);
    }
  }
}
